Source: ros-kinetic-rqt-action
Section: misc
Priority: extra
Maintainer: Aaron Blasdel <ablasdel@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://ros.org/wiki/rqt_action
Standards-Version: 3.9.2

Package: ros-kinetic-rqt-action
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-rospy, ros-kinetic-rqt-msg, ros-kinetic-rqt-py-common
Description: rqt_action provides a feature to introspect all available ROS action (from actionlib) types.
 By utilizing rqt_msg, the output format is unified with it and rqt_srv. Note that the actions shown on this plugin is the ones that are stored on your machine, not on the ROS core your rqt instance connects to.
