Source: ros-jade-rqt-bag-plugins
Section: misc
Priority: extra
Maintainer: Aaron Blasdel <ablasdel@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin
Homepage: http://ros.org/wiki/rqt_bag
Standards-Version: 3.9.2

Package: ros-jade-rqt-bag-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-cairo, python-imaging, ros-jade-geometry-msgs, ros-jade-rosbag, ros-jade-roslib, ros-jade-rospy, ros-jade-rqt-bag, ros-jade-rqt-gui, ros-jade-rqt-gui-py, ros-jade-rqt-plot, ros-jade-sensor-msgs, ros-jade-std-msgs
Description: rqt_bag provides a GUI plugin for displaying and replaying ROS bag files.
